<div id="component-name">
  <h1>Welcome,<span id="usernameSpace"></span>!</h1>
  <p>Please, select an item...</p>


  <div class="layout-1">
    <div>
      <h6>Notes</h6>
    </div>
    <div>
      <h6>Todos</h6>
    </div>
    <div>
      <h6>Reminders</h6>
    </div>
  </div>

  <div class="layout-2">
    <div>
      <button mat-button>
        <a routerLink="/note">
          Select
        </a>
      </button>
    </div>

    <div>
      <button mat-button>
        <a routerLink="/todo">
          Select
        </a>
      </button>
    </div>

    <div>

      <button mat-button>
        <a routerLink="/reminder">
          Select
        </a>
      </button>
    </div>
  </div>

</div>
