<section class="register">
  <div class="flex-container">
    <div class="logInHeader">
      <p id="text-header">Register</p>
    </div>

    <div class="inputs">
      <form [formGroup]="registerForm" novalidate (submit)="onSubmitRegister(registerForm)" class="signUpForm">
        <div>
          <mat-form-field>
            <input matInput id="semail-field" type="text" formControlName="email" placeholder="E-mail" required>
            <mat-error *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
              Please fill out the e-mail field!
            </mat-error>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field>
              <input id="susername-field" matInput type="text" formControlName="username" placeholder="Username" required>
              <mat-error *ngIf="registerForm.controls.username.errors?.required && registerForm.controls.username.touched">
                Please fill out the usern field!
              </mat-error>
            </mat-form-field>
          </div>
        <div>
            <mat-form-field>
            <input matInput type="password" id="spassword-field" formControlName="password" placeholder="Password" required>
            <mat-error *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
                Please fill out the password field!
              </mat-error>
            </mat-form-field>
          </div>
          <button id="submitButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" [disabled]="!registerForm.valid">Register</button>
      </form>
    </div>
    <p>
      <a href="#"> By clicking register, I agree to your terms</a>
    </p>
  </div>

  <div class="clear"></div>
  <!--//signin-form-->
</section>
